.top {
    width: 100%;
    height: 50px;
    background-color: royalblue;
    padding: 10px;
    position: relative;
    overflow: hidden;

    
}

.logo {
    width: 150px;
    height: 50px;
    background-color: rebeccapurple;
    position: absolute;
    
    
    
}

h1 {
    position: absolute;
    right: 10%;
    
}