
article {
    padding-top: 140px;
}
.header {
    padding: 20px 40px;
    border-bottom: 1px solid #222f3e;
    margin-bottom: 30px;

    background-color: #0a751c;

    position: fixed;
    width: 100%;
    box-sizing: border-box;


  }.header-logo {
    height: 50px;
  }.banner {
    background-color: #5f27cd;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    width: 200px;
    height: 200px;
    line-height: 200px;

    position: fixed;
    top: 0;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    

  }.button {
    display: block;
    width: 160px;
    height: 40px;
    opacity: 0.95;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #1dd1a1;
  }p {
    margin-bottom: 20px;
  }